<div class="home-container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h1>Choose an activity and let the fun begin</h1>
    </div>
    <div class="col-xs-10 col-xs-offset-1">
        <div id="pre-k-display" class="col-xs-12 game-options">
          <div>
            <h1>Pre-K</h1>
          </div>
          <div class="row game-nav-btns">
            <a href="/pkShapes">
              <div id="shapes-btn" class="col-xs-3">
                <div>
                  <h2>Shapes</h2>
                </div>
              </div>
            </a>
            <a href="/pkCounting">
              <div id="counting-btn" class="col-xs-3">
                <div>
                  <h2>Counting</h2>
                </div>
              </div>
            </a>
            <a href="/pkColors">
              <div id="colors-btn" class="col-xs-3">
                <div>
                  <h2>Colors</h2>
                </div>
              </div>
            </a>
          </div>
        </div>
    </div>
    <!-- KINDERGARTEN -->
    <div class="col-xs-10 col-xs-offset-1">
        <div id="kinder-display" class="col-xs-12 game-options">
          <div>
            <h1>Kinder</h1>
          </div>
          <div class="row game-nav-btns">
            <a href="/kPatterns">
              <div id="patterns-btn" class="col-xs-3">
                <div>
                  <h2>Patterns</h2>
                </div>
              </div>
            </a>
            <a href="/kAssociations">
              <div id="association-btn" class="col-xs-3">
                <div>
                  <h2>Letters</h2>
                </div>
              </div>
            </a>
            <a href="/kMath">
              <div id="kmath-btn" class="col-xs-3">
                <div>
                  <h2>Math</h2>
                </div>
              </div>
            </a>
          </div>
        </div>
    </div>
  </div>
</div>
