<h1 id="question">Hello from the kAssociations page</h1>


<br />

  <div id="k-associations-board">
    <img id="kPic-0" style="visibility:hidden" ng-click="kAssociationsCtrl.checkForWinner(0)"  src="" />

    <img id="kPic-1" style="visibility:hidden" ng-click="kAssociationsCtrl.checkForWinner(1)" src="" />

    <img id="kPic-2" style="visibility:hidden" ng-click="kAssociationsCtrl.checkForWinner(2)"src="" />
  </div>

<br />

<button class="btn btn-success btn-lg action" role="button" ng-click="kAssociationsCtrl.displayTargetImage()">Play</button>
