<div class="prek-container">
  <div class="row">
    <div class="col-xs-12">
      <h1 id="pattern-header">What comes next in this pattern?</h1>

    <br />

      <div id="k-board">
      </div>

    <br />

      <div id="k-answers">
        <img id="pattern-0" style="visibility:hidden" ng-click="kPatternsCtrl.checkForWinner(0)"  src="" />

        <img id="pattern-1" style="visibility:hidden" ng-click="kPatternsCtrl.checkForWinner(1)" src="" />

        <img id="pattern-2" style="visibility:hidden" ng-click="kPatternsCtrl.checkForWinner(2)"src="" />

        <img id="pattern-3" style="visibility:hidden" ng-click="kPatternsCtrl.checkForWinner(3)"src="" />
        <h2></h2>
      </div>

    <br />

      <button style="visibility:visible" class="btn btn-success btn-lg action" role="button" ng-click="kPatternsCtrl.displayPattern()">Let's get started</button>
    </div>
  </div>
</div>
