<h1>Hello from the pre-k counting page</h1>

  <br />

  <div id="pk-directions">
    <h1></h1>
  </div>


  <br />

    <div id="pk-board">
      <h2></h2>
    </div>

  <br />

  <!-- TODO: will need to dynamically and randomly generate these buttons before production -->
    <div id="pk-answer-btns">
        <button href="" class="btn btn-success btn-lg" role="button" ng-click="pkCountingCtrl.checkForWinner('one')">One</button>

        <button href="" class="btn btn-success btn-lg" role="button" ng-click="pkCountingCtrl.checkForWinner('two')">Two</button>

        <button href="" class="btn btn-success btn-lg" role="button" ng-click="pkCountingCtrl.checkForWinner('three')">Three</button>

        <button href="" class="btn btn-success btn-lg" role="button" ng-click="pkCountingCtrl.checkForWinner('four')">Four</button>
    </div>

  <br />

  <button href="" class="btn btn-success btn-lg action" role="button" ng-click="pkCountingCtrl.displayNum()">Play</button>


  <a href="/" class="btn btn-primary active btn-xs" role="button">Home</a>
