<h1>Hello from the pre-k Color page</h1>

  <br />

  <div id="pk-directions">
    <h1></h1>
  </div>


  <br />

    <div id="pk-board">
      <h2></h2>
    </div>

  <br />

  <!-- TODO: will need to dynamically and randomly generate these buttons before production -->
    <div id="pk-answer-btns">
        <button href="" class="btn btn-success btn-lg" role="button" ng-click="pkColorsCtrl.checkForWinner('red')">Red</button>

        <button href="" class="btn btn-success btn-lg" role="button" ng-click="pkColorsCtrl.checkForWinner('blue')">Blue</button>

        <button href="" class="btn btn-success btn-lg" role="button" ng-click="pkColorsCtrl.checkForWinner('yellow')">Yellow</button>

        <button href="" class="btn btn-success btn-lg" role="button" ng-click="pkColorsCtrl.checkForWinner('green')">Green</button>
    </div>

  <br />

  <button href="" class="btn btn-success btn-lg action" role="button" ng-click="pkColorsCtrl.displayColor()">Play</button>


  <a href="/" class="btn btn-primary active btn-xs" role="button">Home</a>
