<div class="prek-container">
  <div class="row">
    <div class="col-xs-12">
      <div id="pk-directions">
        <h1></h1>
      </div>
    <br />
      <div id="pk-board">
        <div id="pk-many-colors" style="visibility:hidden">
          <img id="color-0" style="height:0px" ng-click="pkColorsCtrl.checkForWinner('red')"  src="../images/pkColors/red.png" />

          <img id="color-1" style="height:0px" ng-click="pkColorsCtrl.checkForWinner('blue')" src="../images/pkColors/blue.png" />

          <img id="color-2" style="height:0px" ng-click="pkColorsCtrl.checkForWinner('yellow')"src="../images/pkColors/yellow.png" />

          <img id="color-3" style="height:0px" ng-click="pkColorsCtrl.checkForWinner('green')"src="../images/pkColors/green.png" />
        </div>
        <h2></h2>
      </div>

    <br />

      <div id="pk-answer-btns" style="visibility:hidden">
          <button href="" class="btn btn-success btn-lg" role="button" ng-click="pkColorsCtrl.checkForWinner('red')">Red</button>

          <button href="" class="btn btn-success btn-lg" role="button" ng-click="pkColorsCtrl.checkForWinner('blue')">Blue</button>

          <button href="" class="btn btn-success btn-lg" role="button" ng-click="pkColorsCtrl.checkForWinner('yellow')">Yellow</button>

          <button href="" class="btn btn-success btn-lg" role="button" ng-click="pkColorsCtrl.checkForWinner('green')">Green</button>
      </div>

      <button style="visibility:visible" class="btn btn-success btn-lg action" role="button" ng-click="pkColorsCtrl.alternateGameStyle()">Let's get started</button>

    </div>
  </div>
</div>
