<h1>Hello from the pre-k shapes page, this is where the magic will happen</h1>

  <br />

  <div id="pk-directions">
    <h1></h1>
  </div>


  <br />

    <div id="pk-board">
      <h2></h2>
    </div>

  <br />

    <div id="pk-answer-btns">
      <h2></h2>
    </div>

  <br />

  <button href="" class="btn btn-success btn-lg" role="button" ng-click="pkShapesCtrl.displayShape()">Activate Activity</button>


  <a href="/" class="btn btn-primary active btn-xs" role="button">Next</a>




  <a href="/" class="btn btn-primary active btn-xs" role="button">Home</a>
