body {
  color: black;
  text-align: center;
  background: url(../images/background-letters.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

header h1{
  float: left;
  margin-top: 0px;
}

header a {
  float: right;
  margin: 15px 10px;
  color: white !important;
}

.viewport {
  border: 2px solid white;
  border-radius: 10px;
  height: 80vh;
  margin-left: 10px;
  margin-right: 10px;
}

.home-container {
  /*background: url(http://laqueteimporta.files.wordpress.com/2013/01/blackboard-with-chalk.jpg) no-repeat center center fixed;*/
  height: 80vh;
}

#pk-board img {
  height: 20vh;
  margin-top: 5px;
}

#k-board img {
  height: 16vh;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

#k-associations-board img{
  height: 24vh;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

#k-answers img {
  height: 14vh;
  margin-top: 15px;
  margin-left: 4px;
  margin-right: 4px;
}

.book-container {
  text-align: center;
  margin-top: 20px;
}

.answer-nums li {
  list-style: none;
  font-size: 5vh;
  color: white !important;
  display: inline;
  border: 2px solid white;
  margin-left: 4px;
  margin-right: 4px;
  text-align: center;
  margin-top: 5px;
}
.answer-nums a {
  color: white !important;
  padding-left: 2px;
}

#equation {
  font-size: 20vh;
}

.stinky img {
  max-height: 100vh;
  max-width: 80vw;
  vertical-align: middle;
}
