body {
  background-color: grey;
  color: white;
  text-align: center;
}

.viewport {
  border: 2px solid white;
  border-radius: 10px;
  height: 80vh;
  margin-left: 10px;
  margin-right: 10px;
}

#pk-board img {
  height: 20vh;
  margin-top: 5px;
  /*width: 100px;*/
}

.book-container {
  text-align: center;
  margin-top: 20px;
}

.stinky img {
  max-height: 100vh;
  max-width: 80vw;
  vertical-align: middle;
}
